
/*
=============== 
Global Styles
===============
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:none;
}

:root{
--clr--safety-orange: hsla(29, 100%, 50%, 1);
--clr--dark-orange-web: hsla(32, 100%, 50%, 1);
--clr--princeton-orange: hsla(35, 100%, 50%, 1);
--clr--orange-peel: hsla(38, 100%, 50%, 1);
--clr--orange-web: hsla(40, 100%, 50%, 1);
--clr--selective-yellow: hsla(43, 100%, 50%, 1);
--clr--mikado-yellow: hsla(46, 100%, 50%, 1);
--clr--jonquil: hsla(49, 100%, 50%, 1);
--clr--school-bus-yellow: hsla(52, 100%, 50%, 1);
--clr--black: hsla(0, 0%, 0%, 1);
--clr--oxford-blue: hsla(221, 51%, 16%, 1);
--clr--orange-web: hsla(37, 98%, 53%, 1);
--clr--platinum: hsla(0, 0%, 90%, 1);
--clr--white: hsla(0, 0%, 100%, 1);
}
html {
    font-size:16px;
  scroll-behavior: smooth;
}
body {
 font-family:'Roboto',sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color:#333;
}
img{
  max-width: 100%;
  height: auto;
}
li{
    list-style:none;
}
p {
  margin-bottom: 1.25rem;
  color: grey;
}

